body {background:#f0f0f0;height:auto;background:url('/images/manage/page_bg.png');}
#frame {margin:0;padding:0;}
#page {margin:0 auto;width:90%;}

#page .page_header {margin-top:20px;padding:20px;background:#2b464a;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
#page .page_header .title {font-size:18px;color:#ffffff;vertical-align:middle;}
#page .page_header .close_btn {float:right;color:#ffffff;opacity:0.8;cursor:pointer;}
#page .page_header .close_btn img {height:24px;}
#page .page_header .close_btn:hover {float:right;color:#ffffff;opacity:1;}

#page .page_footer {margin-top:20px;margin-bottom:20px;text-align:center;}

#page .page_content {border:1px solid #cccccc;margin-top:20px;padding:20px;padding-bottom:25px;background:#ffffff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}