/* 控制菜单 */

.tab_list {width:15%;height:100%;position:absolute;left:0;background:#f0f0f0;border-right:1px solid #d9d9d9;overflow-y:auto;}
.tab_list .item {display:block;padding-left:15%;height:35px;line-height:34px;font-size:14px;cursor:pointer;margin-top:10px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.tab_list .item:hover {background:#e8e8e8;border-top:1px solid #e0e0e0;border-bottom:1px solid #e4e4e4;color:#0066cc;}
.tab_list .active {background:#e8e8e8;border-top:1px solid #e0e0e0;border-bottom:1px solid #e4e4e4}
.tab_list .split {display:block;margin:0 auto;border-top:1px solid #d0d0d0;width:85%;margin-top:10px;height:0px;cursor:auto;padding:0;display:none;}
.tab_list .item .icon1 {display:inline-block;}
.tab_list .item .name {display:inline-block;margin-left:10px;}
.tab_list .item .close_btn {display:inline-block;float:right;margin-right:10%;font-weight:bold;font-size:20px;color:#969696;}
.tab_list .item .close_btn:hover {color:#c53d36;}

/* 框架内容 */
.frame_list {float:left;margin-left:15%;width:85%;height:100%;}
.frame_list iframe {height:100%;width:100%;border:none;}

